/* estilizando tag main */
main {
    flex: 1; 
}
 main ul {
     display: grid;
     grid-template-columns: 1fr 1fr ;
     gap: 20px;
     list-style: none;

 }

 @media (max-width: 650px) {
     main ul{
        grid-template-columns: 1fr 1fr;
     }
 }
/* configurando cabeçalho */
 header img{
    position: absolute;
    margin: 30px 15px;
    width: 290px;
    top: 0px;
 }
/* configurando rodapé */
 footer {
     position: fixed;
     bottom: 0px;
     padding: 0px 484px;
     margin-top: 0px;
     background-color: #7d40e7;
     color: #fff;
     font-size: 14px;
 }